Source: tll-netlink
Section: devel
Priority: optional
Maintainer: Pavel Shramov <shramov@mexmat.net>
Build-Depends: debhelper-compat (= 12), meson (>= 0.53), cmake, pkg-config,
    libfmt-dev (>= 5.3), libmnl-dev, libtll-dev, python3-tll, python3-pytest
Standards-Version: 4.6.1
Vcs-Git: https://github.com/shramov/tll-netlink

Package: libtll-netlink
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: NetLink monitoring channel for TLL framework
 .
 Listens netlink socket for link and route updates
